<!-- SITEURL              = {{ SITEURL }} -->
<!-- image_relative_path  = {{ image_relative_path }} -->
<!-- image_full_path      = {{ image_full_path }} -->
<!-- image_replace        = {{ image_options['replace'] }} -->
<!-- image_sizes          = {{ image_options['sizes'] }} -->
<!-- image_srcset         = {{ image_options['srcset'] }} -->
<!-- image_sources        = {{ image_options['sources'] }} -->
<!-- image_caption        = {{ image_options['caption'] }} -->
<!-- image_target         = {{ image_options['target'] }} -->
<!-- image_class          = {{ options['class'] }} -->
<!-- image_type           = {{ options['type'] }} -->
<!-- max_height           = {{ options['max-height'] }} -->
<!-- options              = {{ options }} -->
<!-- single_image         = {{ single_image }} -->
<figure>
  {% if not options or not options['type'] or options['type'] != 'picture' %}
    {# image replacement or responsive image #}
    {% if image_options['target'] != 'none' %}
    <a href="{% if image_options.get('target') != None %}{{ image_options['target'] }}{% else %}{% if SITEURL %}{{ SITEURL }}/{% endif %}{{ image_relative_path }}{% endif %}">
    {% endif %}
      <img
        {% if image_options and image_options['sizes'] %}
          sizes="{{ image_options['sizes'] }}"
        {% endif %}
        {% if image_options and image_options['replace'] %}
          src="{{ image_options['replace'] }}"
        {% else %}
          src="{% if SITEURL %}{{ SITEURL }}/{% endif %}{{ image_relative_path }}"
        {% endif %}
        {% if image_options and image_options['srcset'] %}
          srcset="{{ image_options['srcset'] }}"
        {% endif %}
        {% if single_image and single_image != False %}
          style="max-width: 100%; max-height: 100vh;{% if image_options.get('target') != None and image_options['target'] != 'none' %}cursor: pointer;{% endif %}"
        {% else %}
          style="max-width: 100%; height: auto; {% if options and options['max-height'] %}max-height: min(100vh, {{ options['max-height'] }});{% endif %}{% if image_options.get('target') != None and image_options['target'] != 'none' %}cursor: pointer;{% endif %}"
        {% endif %}
      >
    {% if image_options['target'] != 'none' %}
    </a>
    {% endif %}
  {% else %}
    {# picture #}
    {% if image_options['target'] != 'none' %}
    <a href="{% if image_options.get('target') != None %}{{ image_options['target'] }}{% else %}{% if SITEURL %}{{ SITEURL }}/{% endif %}{{ image_relative_path }}{% endif %}">
    {% endif %}
      <picture>
        {% for source in image_options['sources'] %}
          <!-- source = {{ source }} -->
          <source
            {% if source['media'] %}
              media="{{ source['media'] }}"
            {% endif %}
            {% if source['sizes'] %}
              sizes="{{ source['sizes'] }}"
            {% endif %}
            {% if source['srcset'] %}
              srcset="{{ source['srcset'] }}"
            {% endif %}
          >
        {% endfor %}
        <img
          {% if image_options and image_options['replace'] %}
            src="{{ image_options['replace'] }}"
          {% else %}
            src="{% if SITEURL %}{{ SITEURL }}/{% endif %}{{ image_relative_path }}"
          {% endif %}
          {% if single_image and single_image != False %}
            style="max-width: 100%; max-height: 100vh;{% if image_options.get('target') != None and image_options['target'] != 'none' %}cursor: pointer;{% endif %}"
          {% else %}
            style="max-width: 100%; height: auto; {% if options and options['max-height'] %}max-height: min(100vh, {{ options['max-height'] }});{% endif %}{% if image_options.get('target') != None and image_options['target'] != 'none' %}cursor: pointer;{% endif %}"
          {% endif %}
        >
      </picture>
    {% if image_options['target'] != 'none' %}
    </a>
    {% endif %}
  {% endif %}
  {% if image_options and image_options['caption'] %}
    <figcaption>
      {{ image_options['caption'] }}
    </figcaption>
  {% endif %}
</figure>
