{% if galleria | length != 1 %}
  <ul class="galleria"
    {% if options and (options['flex-wrap'] or options['column-gap']) %}
      style="{% if options['flex-wrap'] %}flex-wrap: {{ options['flex-wrap'] }}; {% endif %}; {% if options['column-gap'] %}column-gap: {{ options['column-gap'] }} ;{% endif %}" 
    {% endif %}
  >
    {% for image_relative_path in galleria %}
      {% set image_full_path = galleria [image_relative_path]['fullpath'] %}
      {% set image_options   = galleria [image_relative_path]['options'] %}
      <li>
        {% include 'galleria-figure.html' %}
      </li>
    {% endfor %}
  </ul>
{% else %}
  {% for image_relative_path in galleria %}
    {% set single_image = True %}
    {% set image_full_path = galleria [image_relative_path]['fullpath'] %}
    {% set image_options   = galleria [image_relative_path]['options'] %}
    {% include 'galleria-figure.html' %}
  {% endfor %}
{% endif %}
